{% extends "base.html" %} {%block title %}TCG sheets tracker{% endblock %} {% block content %}
<form method = "POST">
	<h3 align="center">Helpful images</h3>
	<br>
	<h5 align="left">Please share your sheet with sartaj@tourney-329922.iam.gserviceaccount.com clicking the share button as shown below:</h5>
	<div class="bd-example" align="middle">
 		<img style= "border:3px solid black;" src="/static/share.jpg" alt= "setup" align="middle">
	</div>

	<br>
	<h5 align="left">Set up your first row of your google sheet as shown below:</h5>
	<div class="bd-example" align="middle">
 		<img style= "border:3px solid black;" src="/static/setup.jpg" alt= "setup" align="middle">
	</div>

	<br>
	<h5 align="left">Your challonge tournament ID is located in settings as shown below:</h5>
	<div class="bd-example" align="middle">
 		<img style= "border:3px solid black;" src="/static/challongeID.jpg" alt= "setup" align="middle">
	</div>

	<br>
	<h5 align="left">The sheet name is located at the top right corner of your sheet as shown belown:</h5>
	<div class="bd-example" align="middle">
 		<img style= "border:3px solid black;" src="/static/googlesheet.jpg" alt= "setup" align="middle">
	</div>

	<br>
	<h5 align="left">Your specific sheet name is located at the bottom of your sheet as shown below:</h5>
	<div class="bd-example" align="middle">
 		<img style= "border:3px solid black;" src="/static/sheetname.jpg" alt= "setup" align="middle">
 		
	</div>


</form>
{% endblock %}